{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
  style="background-image: url('https://images.unsplash.com/photo-1501959181532-7d2a3c064642?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1193&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Project</h1>
          <hr>
          <span class="subheading">What is this project about?</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>The Code-Up team created this project for the <a
          href="https://wemakedevs.org/events/hackathons/napptive">Napptive x WeMakeDev cloud-native Hackathon</a>,
        using HTML, CSS,
        JavaScript, SCSS, Bootstrap, and Jinja for the frontend, Flask for the backend, and <a
          href="https://www.npoint.io/">Npoint</a> for the database,
        which is a JSON storage bins solution.</p>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}